<div class="container">
  <h2>
    Initial Margin
  </h2>
  
  <mat-form-field>
    <mat-label>Search</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="">
  </mat-form-field>

  <mat-table #table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="{{column.id}}" *ngFor="let column of columnNamesinitialMargins">
      <mat-header-cell *matHeaderCellDef mat-sort-header> {{column.value}} </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element[column.id]}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[10, 20, 100]" [showFirstLastButtons]="true"> </mat-paginator>
</div>
